

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #ffffff;
  color: #898989;
  font-family: "Poppins", helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.5s ease-in-out; /* Smooth transition for background */
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  transition: color 0.3s ease; /* Smooth transition for color */
}

h2 {
  color: #b8a07e;
  font-weight: 600;
  font-family: "Helvetica Neue", sans-serif;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

h6 {
  color: #b8a07e;
  font-weight: 600;
  font-family: "Helvetica Neue", sans-serif;
  width: 100%;
  text-align: left;
  display: inline-block;
}

a {
  color: #292929;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out; /* Smoother and quicker transition */
}

a:hover {
  color: #b8a07e; /* Change color on hover */
  transform: scale(1.05); /* Slightly scale up on hover */
}

p {
  margin: 25px 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

::-moz-selection {
  background: #b8a07e;
  color: #fff;
}

::selection {
  background: #b8a07e;
  color: #fff;
}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
  transition: transform 0.3s ease, background 0.3s ease; /* Smooth transitions */
}

.btn:hover, .btn:focus {
  background: #b8a07e; /* Change background color on hover */
  color: #fff;
  transform: translateY(-3px); /* Slightly move up on hover */
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
  transition: border-color 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
  border-color: #b8a07e; /* Change border color on focus */
  background-color: #f9f9f9; /* Change background color on focus */
}

.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #b8a07e;
}

.mb-30 {
  margin-bottom: 30px;
}

.main-content {
  padding-top: 140px;
}

div.a {
  text-align: center;
  margin-top: 200px;
  font-size: 50px;
  padding: 60px;
  animation: fadeInUp 1s ease-in-out forwards; /* Fade in up animation */
}

div.b {
  padding: 60px;
  animation: fadeInLeft 1s ease-in-out forwards; /* Fade in left animation */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

hr.new2 {
  border-top: 1px dotted #b8a07e;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards; /* Fade in animation */
  animation-delay: 0.5s; /* Delay for the animation */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

H9 {
  color: #b8a07e;
  font-size: 40px;
  line-height: 1.0;
  animation: bounce 1s infinite; /* Bounce animation */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

dt {
  color: #b8a07e;
  font-size: 30px;
  animation: fadeInRight 1s ease-in-out forwards; /* Fade in right animation */
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

div.pictures {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

div.pictures:hover {
  transform: translateY(-10px); /* Slightly move up on hover */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 24px 0 rgba(0, 0, 0, 0.25); /* Stronger shadow on hover */
}

div.container {
  text-align: center;
  padding: 10px 20px;
  animation: zoomIn 1s ease-in-out forwards; /* Zoom in animation */
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #b8a07e;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #c6b398;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background-color: #fff;
  top: -100%;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
}
#header.header-scrolled, #header.header-inner-pages {
  top: 0;
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
}
#header .logo a {
  color: #898989;
}
#header .logo img {
  max-height: 40px;
}
@media (max-width: 992px) {
  #header {
    border: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #7e7d7d;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #b8a07e;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #b8a07e;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #4b4a4a;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(49, 49, 49, 0.9);
  transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #4b4a4a;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #b8a07e;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #b8a07e;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  background: url("../img/uiuxbackground.png") repeat scroll center center/cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  position: relative; /* Ensure it's in the stacking context */
  opacity: 0; /* Start with the hero section invisible */
  animation: fadeIn 1s ease-in-out forwards; /* Fade in animation */
  overflow: hidden; /* Hide overflow to prevent scrollbars */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#hero .hero-content {
  height: auto; /* Adjusted to fit the content */
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 1s ease-in-out forwards 0.5s; /* Slide up animation with delay */
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  animation: fadeInLeft 1s ease-in-out forwards 1s; /* Fade in from left animation with delay */
  position: relative;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-content p {
  font-size: 13px;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
  opacity: 0;
  animation: fadeInLeft 1s ease-in-out forwards 1.2s; /* Fade in from left animation with delay */
  position: relative;
}

.hero-content .list-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero-content .list-social li {
  margin-right: 20px;
  opacity: 0;
  transform: scale(0);
  animation: fadeInScale 1s ease-in-out forwards 1.4s; /* Scale up animation with delay */
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.hero-content .list-social li i {
  color: #fff;
  font-size: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.hero-content .list-social li i:hover {
  color: #b8a07e; /* Change to a highlight color */
  transform: scale(1.2); /* Slightly increase the size on hover */
}

/* Parallax scrolling effect */
.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/parallax-bg.png") no-repeat center center;
  background-size: cover;
  transform: translateZ(0);
  transition: transform 0.5s ease-in-out;
  z-index: -1; /* Behind the content */
}

#hero:hover .parallax {
  transform: translateZ(-20px) scale(1.1);
}

/* Additional hover effect for the hero content */
.hero-content:hover h1,
.hero-content:hover p {
  color: #b8a07e; /* Change text color on hover */
}

.hero-content:hover .list-social li i {
  color: #b8a07e; /* Change icon color on hover */
  transform: rotate(360deg) scale(1.5); /* Rotate and scale on hover */
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 120px 0 0 0;
  background-color: white;
  min-height: 40px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    padding-top: 100px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/
#about {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  padding-top: 120px;
  padding-bottom: 60px; /* Added padding for bottom */
  position: relative; /* For background animations */
  overflow: hidden; /* Hide overflow for animations */
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #b8a07e 0%, #f7f7f7 100%);
  opacity: 0.2;
  z-index: 1; /* Layer below content */
  animation: backgroundAnimation 10s ease-in-out infinite;
}

@keyframes backgroundAnimation {
  0%, 100% {
    background-position: left top;
  }
  50% {
    background-position: right bottom;
  }
}

#about .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
  position: relative;
  z-index: 2; /* Above the background */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#about .div-img-bg:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

#about .div-img-bg:hover .about-img img {
  transform: scale(1.05); /* Slightly enlarge image on hover */
}

#about .about-descr {
  position: relative;
  z-index: 2; /* Above the background */
  animation: fadeInUp 1s ease-in-out; /* Fade-in animation */
}

#about .about-descr .p-heading {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  text-align: left;
  position: relative;
}

#about .about-descr .p-heading::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background: #b8a07e;
  animation: underline 1s ease-in-out; /* Underline animation */
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

#about .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
  background: #f7f7f7;
  position: relative;
  padding-bottom: 80px;
}

.services-block span {
  margin: 10px 0;
  position: relative;
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

.services-block .separator {
  margin: 0;
  font-size: 13px;
  line-height: 22px;
}

.services-block i {
  font-size: 44px;
  color: #b8a07e;
  line-height: 44px;
}

.services-slider .swiper-pagination {
  margin-top: 30px;
  position: relative;
}
.services-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #b8a07e;
}
.services-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #b8a07e;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
/* Container Styles */
.container {
  text-align: center;
  padding: 20px;
}

.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.portfolio-details .portfolio-details-slider img:hover {
  transform: scale(1.05);
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #b8a07e;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #b8a07e;
}

.portfolio-info {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0 30px rgba(75, 74, 74, 0.08);
  text-align: left;
}

.portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-description {
  padding-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0 30px rgba(75, 74, 74, 0.08);
  text-align: left;
  padding: 30px;
}

.portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-description p {
  margin: 0;
}

/* Swiper Styles */
.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  max-height: 800px; /* Adjust to desired max height */
  object-fit: contain;
  border-radius: 10px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #b8a07e;
}

.swiper-pagination-bullet-active {
  background-color: #b8a07e;
}

/* Hover Effects */
.portfolio-details-slider .swiper-slide img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* Portfolio General Styles */
#portfolio {
  position: relative;
  padding-bottom: 50px;
}

#portfolio #portfolio-flters {
  padding: 2px 15px;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  color: #b8a07e;
}

/* Portfolio Grid */
#portfolio .portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 180px; /* Increased gap for better horizontal spacing */
}

#portfolio .portfolio-item {
  width: 350px; /* Increased width of the portfolio items */
  height: 325px; /* Increased height of the portfolio items */
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  margin-bottom: 40px; /* Added vertical spacing between items */
  margin-right: 20px; /* Horizontal spacing to the right */
  margin-left: 20px;  /* Horizontal spacing to the left */

}


#portfolio .portfolio-item:hover {
  transform: scale(1.05);
}

#portfolio .portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: opacity 0.3s ease, transform 0.3s ease;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #666;
  font-weight: 600;
  margin-bottom: 10px;
}

#portfolio .portfolio-item .portfolio-info p {
  color: #999;
  font-size: 14px;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-info .details-link {
  font-size: 16px;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #b8a07e;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#portfolio .portfolio-item .portfolio-info .details-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {

}

/*--------------------------------------------------------------
# case study 
--------------------------------------------------------------*/
.gutters {
  padding: 10px;
  border: 20px;
  border-top: 20px;
}

.patelco {
  text-align: center;
  border-bottom: 2pt dotted #b8a07e;
}
.patelco img {
  padding-bottom: 5px;
  width: 55%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.secondheader {
  font-size: 20pt;
  color: rgba(96, 101, 119, .8);
}



h4 {
  color: #496071;
  font-size: 1.25em;
}

.secondheader img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aside1 {
  float: right;
  font-family: "Helvetica Neue", sans-serif;
  border: 2px solid #898989;
  padding: 10px;
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.aside1:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.module1 {
  text-align: center;
}

.module1 header h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.module1 ul {
  list-style: none;
  padding: 0;
}

.module1 ul li {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
  transition: color 0.3s ease-in-out;
}

.module1 ul li:hover {
  color: #000;
}

/* Adding some animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.aside1 {
  animation: fadeIn 1s ease-in-out;
}

/* Base Styles */
.image-container {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.styled-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover .styled-image {
  transform: scale(1.1);
}

/* Overlay for interactivity */
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(184, 160, 126, 0.2); /* Match the color from the rest of the CSS */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.image-container:hover::before {
  opacity: 1;
}

/* Caption for additional interactivity */
.image-container::after {
  content: "CMS Logo";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover::after {
  opacity: 1;
}

/* Animation for fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-container {
  animation: fadeIn 1s ease-in-out;
}


.h9 {
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #898989;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica Neue", sans-serif;
  background: linear-gradient(to right, #898989, #b8a07e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  transition: background-position 0.5s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.h9:hover {
  background-position: right center;
}

.h9:before {
  content: "\f0a8";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
}

.h9:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.h9:hover:after {
  opacity: 1;
}

figcaption {
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
}

.module1 li {
  list-style-type: none;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
  background: linear-gradient(to right, #b8a07e, #898989);
  padding: 10px 10px 10px 30px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d; /* Enable 3D transformations */
}

.module1 li::before {
  content: "\f057"; /* Use a custom icon instead of a bullet */
  font-family: "FontAwesome";
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out; /* Apply transition to the icon */
}

.module1 li:hover {
  background: linear-gradient(to right, #898989, #b8a07e);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05) rotateX(10deg); /* Add scale and rotate on hover */
}

.module1 li:hover::before {
  transform: translateY(-50%) rotateZ(180deg); /* Rotate the icon on hover */
}

.module1 li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.module1 li:hover::after {
  opacity: 1;
}


div.pictures1 {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.pictures2 {
  width: 60%; /* More compact width */
  background: linear-gradient(to bottom right, #898989, #b8a07e);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  margin-bottom: 20px; /* Slightly smaller margin */
  font-family: "Helvetica Neue", sans-serif;
  padding: 15px; /* More compact padding */
  position: relative;
  overflow: hidden;
  border-radius: 10px; /* Slightly more rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition for smooth effects */
}

div.pictures2 img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
  border-radius: 10px; /* Match container border radius */
}

div.pictures2:hover {
  transform: scale(1.01); /* Slightly enlarges the entire container */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 24px rgba(0, 0, 0, 0.25); /* Enhanced shadow on hover */
}

div.pictures2:hover img {
  transform: scale(1.01); /* More noticeable zoom effect */
  filter: brightness(1.1); /* Slightly reduced brightness effect */
}

div.pictures2:hover::after {
  content: "View Image";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

div.pictures2:hover::after {
  opacity: 1;
}

@keyframes animate {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

div.pictures3{
  width: 30%;
  background: linear-gradient(to bottom right,  #898989, #b8a07e);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px; 
  font-family: "Helvetica Neue", sans-serif;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: auto; /* Maintain aspect ratio */
  flex-direction: row;
  }


div.pictures3:hover img {
  transform: scale(1.05);
  margin-right: 10px;
}

div.pictures3 img {
  flex: 1; /* Distribute the available space evenly */
  margin-right: 10px; /* Add spacing between images */
}

div.pictures3:hover::before {
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

div.pictures2 figcaption {
  margin-top: 10px;
  font-style: italic;
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

div.pictures2:hover figcaption {
  opacity: 1;
}

div.pictures2 img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}

p {
  margin: 25px 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: #898989;
  line-height: 28px;
}

.paragraph-1 {
  margin: 25px 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: #ffffff;
  line-height: 28px;
}


div.pictures3{
  width: 80%;
  background: linear-gradient(to bottom right,  #898989, #b8a07e);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px; 
  font-family: "Helvetica Neue", sans-serif;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

div.pictures3:hover img {
  transform: scale(1.05);
}

div.pictures3:hover::before {
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

div.pictures3 figcaption {
  margin-top: 10px;
  font-style: italic;
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

div.pictures3:hover figcaption {
  opacity: 1;
}

div.pictures3 img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 500px; /* adjust the max-height value as needed */
  object-fit: cover; /* make sure the image fills the container while preserving aspect ratio */
  transition: all 0.5s ease-in-out;
}

div.pictures3:hover {
  transform: scale(1.1); /* adjust the scale value as needed */
}







div.container {
  text-align: center;
  padding: 10px 20px;
}

.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #b8a07e;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #b8a07e;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(75, 74, 74, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}


/*--------------------------------------------------------------
# Journal
--------------------------------------------------------------*/
button[type="submit"].btn-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#journal, #journal-blog {
  height: auto;
  width: 100%;
  background: #f7f7f7;
  padding-bottom: 60px;
  position: relative;
}

#journal-blog {
  background: #fff;
  padding-bottom: 30px;
}

#journal .journal-block {
  display: inline-block;
  height: auto;
  width: 100%;
}

#journal .journal-block .journal-info {
  position: relative;
}

.journal-block .journal-info img {
  max-width: 100%;
}

.journal-block .journal-info .journal-txt {
  padding: 25px 0px;
  position: relative;
}

.journal-block .journal-info .journal-txt h4 a {
  display: block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 13px 0;
  font-weight: 500;
  color: #292929;
  transition: all 0.5s ease-in-out 0s;
}

.journal-block .journal-info .journal-txt h4 a:hover {
  color: #b8a07e;
  transition: all 0.5s ease-in-out 0s;
}

.journal-block .journal-info .journal-txt p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

/*--------------------------------------------------------------
# Journal
--------------------------------------------------------------*/
#contact {
  width: 100%;
  padding: 50px 20px;
  background: linear-gradient(135deg, #ffffff, #b8a07e, #898989);
  color: #fff;
}

.contact-contact h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #f7f7f7;
  margin-bottom: 20px;
}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details li {
  font-size: 1.2rem;
  color: #ffecb3;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.contact-details li:hover {
  color: #ffffff;
}

#contact input, #contact textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  font-size: 1rem;
  color: #333;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

#contact input:focus, #contact textarea:focus {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  outline: none;
  border-color: #18d26e;
}

#contact textarea {
  min-height: 160px;
}

.php-email-form .error-message,
.php-email-form .sent-message,
.php-email-form .loading {
  display: none;
  color: #fff;
  font-size: 1rem;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: 600;
}

.php-email-form .error-message {
  background: #ed3c0d;
}

.php-email-form .sent-message {
  background: #18d26e;
}

.php-email-form .loading {
  background: #ffffff;
  text-align: center;
  color: #1a2a6c;
  font-weight: 600;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

button.btn-send {
  background: #ffffff; /* Button background color */
  color: #292929; /* Text color */
  font-size: 1.2rem;
  font-weight: 600;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button.btn-send:hover {
  background: #e6e6e6; /* Slightly darker background on hover */
  color: #292929; /* Keep the text color consistent */
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
/*  Navbar fixd page */
.subpage-nav {
  display: block !important;
}

/*-----------------------------------------------------------------------------------*/
/*  /* Single page */
/*-----------------------------------------------------------------------------------*/
#journal-blog {
  padding-top: 140px;
}

/* main content */
.main-content {
  background: #f7f7f7;
}

.main-content .container-main {
  display: inline-block;
  width: 100%;
}

.main-content .container-main .block-main {
  margin-bottom: 30px;
  overflow: hidden;
}

.container-main .block-main .content-main {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  width: 100%;
}

.journal-txt h4 a {
  display: block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 13px 0;
  font-weight: 500;
  color: #292929;
  transition: all 0.5s ease-in-out 0s;
}

.journal-txt h4 a:hover {
  color: #b8a07e;
  transition: all 0.5s ease-in-out 0s;
}

.post-meta ul li {
  font-size: 12px;
  font-weight: normal;
  margin-left: 8px;
  margin-right: 8px;
  text-transform: capitalize;
  display: inline-block;
  float: none;
}

.content-main .post-meta a {
  color: #a2a2a2;
  margin-left: 5px;
}

/* Commonts */
.comments {
  background: #fff;
}

.entry-comments h6 {
  margin-right: 10px;
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.entry-comments-item {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #f2f2f2;
}

.entry-comments-avatar {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.entry-comments-body {
  padding-left: 86px;
}

.entry-comments-author {
  margin-right: 10px;
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.rep {
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: capitalize;
}

.entry-comments span a {
  font-size: 13px;
  color: #999;
}

.entry-comments-reply {
  padding-left: 10%;
}

/* Commonts form */
.cmt {
  background: #fff;
}

blockquote {
  padding: 40px;
  background-color: #f2f2f2;
  margin: 30px 0;
  border: none;
  border-left: 4px solid #b8a07e;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #b8a07e;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

.credits {
  font-size: 13px;
}

/** Width between 1200x to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/** Width between 992px to 1199px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (min-width: 768px) and (max-width: 991px) {
  /* Navbar */
  nav {
    padding: 10px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* About */
  .head-info .header-content .cmaster h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 20px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}
/** Width between 767px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 767px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 20px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}
/** Width between 600px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 600px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 20px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 10px;
    display: inline-block;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}
/** Width between 480px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 480px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 20px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}
/** Width between 320px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 320px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 20px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }

  /* Single page */
  .entry-comments-body span {
    display: inline-block;
    margin-right: 0;
  }
}

.portfolio-image img {
  display: none;
  position: absolute;
  z-index: 10;
  max-width: 100%;
}

.portfolio-info {
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  text-align: center;
}

.portfolio-info:hover .portfolio-image img {
  display: block;
}

portfolio-image img {
  display: none;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-info {
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  text-align: center;
  height: 200px; /* Set a fixed height for uniformity */
}

.portfolio-info:hover .portfolio-image img {
  display: block;
}

.portfolio-info h4, .portfolio-info p, .portfolio-info a.details-link {
  z-index: 1;
  position: relative;
}

.portfolio-info .portfolio-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.portfolio-info .portfolio-image img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area */
}

.portfolio-info:hover .portfolio-image img {
  display: block;
}